body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.experience-header {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

/* first section */
.half-width {
    width: 50%;
    padding-left: 5%;
    text-align: justify;
}

.half-width img {
    width: 70%;

}

.hire-me-button {
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700;
    text-decoration: none;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

/*first section end*/


/* second section start */

.half-width-sec-2 {
    width: 50%;
    padding-right: 3%;
    text-align: justify;
}

.half-width-sec-2 img {
    width: 70%;
    padding-left: 10%;

}

.download-resume-button {
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700;
    text-decoration: none;
}

.side-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

/* second section end */

/*third section start*/
.half-width-sec-3 {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5%;
    padding-left: 20px;

}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left 10px right 2em;
}

#fullStack {
    border-left: 7px solid tomato;
}

#babyWeb {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}